
<!-- title linked to the external resource -->
<h2><a href="<%= resource.url %>"><%= resource.title %></a></h2>

<!-- image -->
<img src="<%= resource.thumbnail_url %>" alt="resource thumbnail">

<div class="input-label-pair">
  <h5>Topic:</h5>
  <p><%= resource.category_name %> </p>
</div>

<div class="input-label-pair">
  <h5>Average Rating:</h5>
  <p><%= resource.average_rating %> </p>
</div>

<div class="input-label-pair">
  <h5>Description:</h5>
  <p><%= resource.description %> </p>
</div>


