<!DOCTYPE html>
<html lang="en">

<head>
  <title>dogEared</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Font import -->
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap" rel="stylesheet">

  <!-- font awesome icons -->
  <script src="https://kit.fontawesome.com/948f369b19.js" crossorigin="anonymous"></script>

  <!-- Styles -->
  <link rel="stylesheet" href="css/main.css" type="text/css" />

</head>

<body>
  <%- include('partials/header') %>
  <div class="wrapper">
    <section class="index-layout">

      <!-- display resources owned-->
      <% for (const resource of search_results) { %>
      <div class="resource-square">
        <h2><a href="<%= resource.url %>"><%= resource.title %></a></h2>
        <div class="overlay">
          <img style="width: 200px" class="thumbnail" src="<%= resource.thumbnail_url %>" alt="thumbnail url">
          <a class="more-details" href="<%= `/resources/${resource.id}`%>">More Details</a>
        </div>
        <% let owner = false;
       let saved = false;

       for (const _id of resources_owned) {
         if(_id.id === resource.id) {
           owner = true;
         }
       }

       for (const _id of resources_saved) {
         if(_id.resource_id === resource.id) {
            saved = true;
         }
       }
       %>

        <% if (owner) { %>


        <form class="save" action="<%= `/delete/${resource.id}`%>" method=" POST">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
        <!-- show save resource option if not owner -->
        <% } else {
       if(saved) { %>
        <form action="<%= `/unsave/${resource.id}`%>" method="POST">
          <button type="submit" class="btn btn-outline-light">Unsave</button>
        </form>
        <% } else { %>
        <form class="save" action="<%= `/save/${resource.id}`%>" method="POST">
          <button type="submit" class="btn btn-outline-light">Save</button>
        </form>
        <%   }
      } %>
      </div>
      <% } %>
    </section>
  </div>
  <!-- Bootstracp JS or scripts goes here -->
</body>

</html>
